.footer
  table(role='presentation' border='0' cellpadding='0' cellspacing='0')
    tbody
      tr
        td.content-block
          span.apple-link Territoria, 2827 Apoquindo Ave., 20th Floor, Office 2001, Las Condes - Santiago - Chile.
          //- br
          //- | Don't like these emails? #[a(href='http://i.imgur.com/CScmqnj.gif') Unsubscribe]

      tr
        td.content-block.powered-by
          | Powered by #[a(href='https://final.cl') Final Ltda.].
