{
  "root": true,
  "extends": "@fiquu/eslint-config/typescript",
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "@typescript-eslint/no-explicit-any": "off",
    "node/no-unpublished-import": "off",
    "max-lines-per-function": "off"
  }
}
